.single__banner {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: #1d1d1d;
  color: #ffffff;

  background-position: center -50px;
  background-repeat: no-repeat;
  background-size: 80% auto;
}

.single__banner--inner {
  box-sizing: border-box;
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

.single__banner--inner p {
  text-align: justify;
}

@media only screen and (min-width: 1400px) {
  .single__banner--inner {
    padding: 0 600px 0 0;
  }
}

.single__banner h1 {
  display: block;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  text-indent: -9999px;

  width: 282px;
  height: 123px;


}

@media only screen and (max-width: 767px) {
  .single__banner {

    height: auto;
    padding: 0 10px;
  }

  .single__banner--inner {
    padding: 30px 0;
  }


  .single__banner h1 {
    width: 141px;
    height: 62px;
  }
}

@media only screen and (max-width: 1023px) {
  .single__banner {
    background-image: none;
  }

  .single__banner--inner {
    padding: 30px 0;
  }

}

.single__banner--has-cta {
  padding-bottom: 50px;
}


.single__banner h2 {
  color: #FFD941;
  font-weight: 700;
  text-transform: uppercase;
}

.single__banner--inner p {
  color: #ffffff;
}

.single__banner--inner p strong {
  text-transform: uppercase;
}

.page-id-8276 #ciyk0megh00073j5lbaqqngk4 {
  background-color: #1d1d1d;
  background-image: none;
}

.page-id-8276 .scroll-progress__bar {
  background-color: #ffd941;
}



#cj6m47a35000h3e5oalpl0ixp.mkhb-menu-hover-style-4 .mkhb-navigation-ul>#menu-item-8281.menu-item:hover>a.menu-item-link,
#cj6m47a35000h3e5oalpl0ixp.mkhb-menu-hover-style-4 .mkhb-navigation-ul>#menu-item-8281.current-menu-ancestor>a.menu-item-link,
#cj6m47a35000h3e5oalpl0ixp.mkhb-menu-hover-style-4 .mkhb-navigation-ul>#menu-item-8281.current-menu-item>a.menu-item-link {
  color: #FFD941;
}


.page-id-8276 .mk-text-block p  {
  text-align: justify;
}

.master-holder .comparison__title h2 {
  padding: 60px 0 0;
  text-transform: none;
}

.comparison__boxes {
  padding: 40px 0 60px;
}

.master-holder .comparison__boxes h3 {
  color: #ffd941;
  text-transform: none;
}

.master-holder .comparison__boxes li {
  color: #000000;
  list-style: none;
  margin-left: -20px;
  padding-left: 30px;
  position: relative;
}

.master-holder .comparison__boxes li:before {
  content: '';
  display: block;
  width: 5px;
  height: 5px;
  background-color: #000000;
  position: absolute;
  top: 0.5em;
  left: 0;
  border-radius: 50%;
}

.aisite__cta .templatera_shortcode .mk-video-color-mask {
  background: #FFD941;
  color: #222222;
}

.aisite__cta .templatera_shortcode .mk-fancy-title {
  color: #222222 !important;
}

.aisite__cta .templatera_shortcode .mk-button:link,
.aisite__cta .templatera_shortcode .mk-button:visited {
  border-color: #222222;
  color: #222222;
}

.aisite__cta .templatera_shortcode .mk-button:hover,
.aisite__cta .templatera_shortcode .mk-button:focus {
  border-color: #222222;
  color: #ffd941;
  background-color: #222222;
}

.banner__cta {
  box-sizing: border-box;
  width: calc(100vw - 40px);
  margin: 20px auto;
  background-color: #1d1d1d;
  padding: 20px 30px;
  transform: translateY(-40px);
}

@media only screen and (min-width: 768px) {
  .banner__cta {
    transform: translateY(-50%);
  }
}

@media only screen and (min-width: 1024px) {
  .banner__cta {
    width: calc(80vw);
    max-width: 1200px;
  }
}

.banner__cta--yellow {
  background-color: #ffd941;
}

.banner__cta--yellow h3 {
  color: #1d1d1d;
}

.banner__cta--yellow p {
  color: #1d1d1d;
}


.fixed-cta {
	border: 5px solid white;
	border-bottom: 0;
	background-color: #13a89a;
	color: white;
	display: block;
	position: fixed;
	bottom: 0;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
	font-size: 1.5em;
	padding: 0.5em 0;
	width: calc(90% - 10px);
	border-top-left-radius: 12px;
	border-top-right-radius: 12px;
}

.fixed-cta  span {
	position: relative;
}

.fixed-cta  span::after { 
	transform: rotate(90deg); 
	background-image: url('../images/fixed-cta-pointer.png'); 
	background-size: cover; 
	background-position: center; 
	background-repeat: no-repeat;
	display: block; 
	position: absolute; 
	left: 102%; 
	top: -6px; 
	width: 2em;
	height: 2em; 
	content: '';
}

.fixed-cta:link, .fixed-cta:visited { color: white; }

.fixed-cta:hover, .fixed-cta:focus{ cursor: pointer; color: white; }

@media only screen and (min-width: 768px){
	.fixed-cta { 
		display: inline-block; 
		width: auto; 
		padding: 0.5em 3em 1em; 
		left: auto; 
		right: 0; 
		top: 150px; 
		bottom: auto;
		transition: 0.3s;
		transform: rotate(-90deg) translateY(.5em);
		transform-origin: 100% 100%;
	}

	.fixed-cta:hover, .fixed-cta:focus {
		transition: 0.3s;
		transform: rotate(-90deg) translateY(0);
	}
}